
.layout{
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 72px 1fr;
    grid-template-areas:
        "header header"
        "sidebar content";
}

.header {
    background-color: #fff;
    grid-area: header;
}
.sidebar {
    background-color: #1c1f23;
    grid-area: sidebar;
}
router-outlet{
    display: none;
}
.content {
    background-color: #c3c5ca;
    padding: 25px;
    grid-area: content;
    overflow: auto; /* Use "scroll" if you want to always show the scrollbar */
    max-height: 1fr;
}





@media (max-width: 768px) {
    .layout {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "content content";
    }
    .sidebar {
        display: none;
    }
}
